<li class="nav-item lotgd-stage-action">
    <a class="nav-link"
       data-action="live#action"
       data-live-action-param="takeAction"
       data-live-character-param="{{ character.id }}"
       data-live-action-id-param="{{ action.id }}"
    >{{ action.title }}</a>
</li>