<details class="lotgd-debug my-3">
    <summary>
        {{ title }}
        {{ name }}
    </summary>

    <div class="lotgd-debug-content">
        {% block content %}
        {% endblock %}
    </div>
</details>