<div {{ attributes.defaults(stimulus_controller('admin/scene', {
    tree: tree,
})) }}>
    <div class="bg-white">
        <div {{ stimulus_target('admin/scene', "sceneView") }}>

        </div>

        <div {{ stimulus_target("admin/scene", "modal") }} class="modal" tabindex="-1">
            <div class="modal-dialog modal-lg small">
                <div class="modal-content">
                    {% if scene %}
                        <twig:Admin:SceneForm :key="scene.id" :scene="scene" />
                    {% else %}
                        <twig:Admin:SceneForm key="new" :scene="scene" :parentScene="parentScene" />
                    {% endif %}
                </div>
            </div>
        </div>

        <div {{ stimulus_target("admin/scene", "sceneConnectionModal") }} class="modal" tabindex="-1">
            <div class="modal-dialog modal-lg small">
                <div class="modal-content">
                    {% if sceneConnection %}
                        <twig:Admin:SceneConnectionForm :key="sceneConnection.id" :sceneConnection="sceneConnection" />
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>